@charset "UTF-8";
header.main.visible {
    position: absolute;top:54px;
}
header.main:hover > menu.main {
    display:block
}
.noscript-msg{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;line-height:50px;height:50px;text-align:center;
	border-top:solid 2px #870;
	border-bottom:solid 2px #870;
	background:#DD9;
	color:#000;
}
